<!-- <h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p> -->
<div class="content">
	<h2>Stupid Coaching</h2>
	<h3>Ask your coach anything</h3>
	<form action="/answer">
	  <input type="text" name="question">
<!-- 	  <input type="submit" value="Ask"> -->
      <br></br>
	  <button type="submit" class="btn btn-primary">Ask</button>
	</form>
</div>
