.content {
	font-family: 'Niramit', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

form {
	font-family: 'Niramit', sans-serif;
}

.box {
    background-color: #DDDDDD;
}


.link {
	text-decoration:none;
	font-family: 'Niramit', sans-serif;
}


